/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --primary-font: "Funnel Sans", sans-serif;
    --headline-font: "Faulty Glyphic", serif;

    --background-color: lightgoldenrodyellow;
    --headline-color: #ECE2D0;
    --font-color: black;
    --url-color: #3C6E71;
    --url-hover-color: #869F8A;
}

body{
    background: var(--background-color);
    font-family: 'Funnel Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Faulty Glyphic', serif;
    margin: 1.3rem;
}

a.nav{
    display: inline;
    color: var(--url-color);
    font-size: larger;
    text-decoration: none;
}

a.nav:hover{
    color: var(--url-hover-color);
    font-weight: bold;
    font-size:130%;
}

a.active{
    text-decoration: underline 3px;
}

a.active:hover{
    color: var(--url-color);
    font-size: larger;
    font-weight: normal;
}

.logo{
    max-height: 150px;

}

@media(min-width: 768px) {
    .logo{
        max-height: 250px;
    }
}
